@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    string language = ViewContext.RouteData.Values["language"].ToString();
    Thread.CurrentThread.CurrentCulture = CultureInfo.CreateSpecificCulture(language);
    Thread.CurrentThread.CurrentUICulture = new CultureInfo(language);

}

<h1>@E_Indeks.Resources.ChangePassword.Change_Password</h1>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @E_Indeks.Resources.ChangePassword.Password_updated_successfully_
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @E_Indeks.Resources.ChangePassword.Failed_to_update_password_Еnter_wrong_old_password
    </div>
}

<form asp-action="UpdatePassword" method="post">
    
    <div class="form-group">
        <label for="oldPassword">@E_Indeks.Resources.ChangePassword.Old_Password</label>
        <input style="width: 30%;" type="password" class="form-control" id="oldPassword" name="oldPassword" required>
    </div>
    <div class="form-group">
        <label for="newPassword">@E_Indeks.Resources.ChangePassword.New_Password</label>
        <input style="width: 30%;" type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">@E_Indeks.Resources.ChangePassword.Change_Password</button>
</form>
