@model E_indeks.Models.Student
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{

    string language = ViewContext.RouteData.Values["language"].ToString();
    Thread.CurrentThread.CurrentCulture = CultureInfo.CreateSpecificCulture(language);
    Thread.CurrentThread.CurrentUICulture = new CultureInfo(language);


}

@{
    ViewData["Title"] = "Delete Student";
}
@{
    ViewData["hideFlags"] = true;
}

<h1>@E_Indeks.Resources.IndexDelete.Delete_Student</h1>

<h3>@E_Indeks.Resources.IndexDelete.Are_you_sure_you_want_to_delete_this_student_</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @E_Indeks.Resources.IndexDelete.FullName
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <!-- Add other properties you want to display here -->
        <dt class="col-sm-2">
            @E_Indeks.Resources.IndexDelete.Indeks
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Indeks)
        </dd>
        <dt class="col-sm-2">
            @E_Indeks.Resources.IndexDelete.Prosek
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prosek)
        </dd>
        <dt class="col-sm-2">
            @E_Indeks.Resources.IndexDelete.Grad
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
    </dl>

    <form method="post">
        <div class="form-group">
            <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Indeks">@E_Indeks.Resources.IndexDelete.Delete</a>
            <a class="btn btn-primary" asp-action="Index">@E_Indeks.Resources.IndexDelete.Cancel</a>
        </div>
    </form>
</div>
